$total-items: 6;

ul li {
  display: block;
  list-style: none outside;
  animation: slide-in 1s ease 1 both;
}

@for $i from 1 through $total-items {
  ul li:nth-child(#{$i}) {
    animation-delay: 0.2s * $i;
  }
}

@keyframes slide-in {
  from {
    transform: translateX(-10rem);
    opacity: 0;
  }

  to {
    transform: translate(0);
    opacity: 1;
  }
}
