<nav class="navbar navbar-expand navbar-light justify-content-center">
  <div id="navbarNav">
    <ul class="navbar-nav">
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" routerLink="/about">About</a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" routerLink="/contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>

<hr class="hr-custom" />
