// .navbar {
//   border-radius: 99px; // just a high number to create pill effect
//   width: 250px;
//   justify-content: center;
//   display: flex;
//   left: 0;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   align-items: center;
//   box-shadow: 0 0 1px 0 rgba(#185ee0, 0.15), 0 6px 12px 0 rgba(#185ee0, 0.15);
// }

// .imgManage {
//   padding-top: 5%;
//   max-width: 50px;
//   max-height: 50px;
// }

.navbar {
  padding: 0;
}

.navbar-nav {
  font-size: 2rem;
  padding: 0;
}

@media only screen and (min-width: 1920px) {
  .nav-item,
  .navbar-nav {
    margin: 20px;
  }
}

@media screen and (min-width: 1366px) and (max-width: 1919px) {
  .nav-item,
  .navbar-nav {
    margin: 20px;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1365px) {
  .nav-item,
  .navbar-nav {
    margin: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .line-1 {
    margin-left: 20px !important;
  }
}

hr {
  background-color: #fff;
}

hr.hr-custom {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}
