@import "../../styles/slide-in";

.customList {
  display: inline;
  list-style: none outside;
  animation: slide-in 0.3s ease 1 both;
}

a {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 6px;
  text-decoration: none;
  padding: 35px 20px 13px 60px;
  margin-right: 40px;
  color: #444;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/41294/download.png")
    2px 0 no-repeat;
}
a:hover {
  border-color: #444;
  box-shadow: 0 0 10px #444;
}
a:active {
  border-color: #ccc;
  box-shadow: none;
}

a[href$=".pdf"]:before {
  position: absolute;
  width: 62px;
  height: 72px;
  top: 2px;
  left: 2px;
  transition: all 0.4s;
}

a[href$=".pdf"]:before {
  content: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/41294/pdf.png");
}

a[href$=".pdf"]:hover:before {
  opacity: 0;
}

a[href$=".pdf"]:after {
  content: "Download";
  position: absolute;
  top: 10px;
  left: 60px;
  color: #aaa;
}
