<div class="container">
  <p class="text-justify">
    I’m a software enthusiast in frontend languages constantly wanting to learn
    more. I have always been a fan of programming but just recently decided to
    dive into it professionally. My english skills are advanced, both in talking
    and writing. I have no corporative experience in development, just as a
    freelancer, such as making websites for my family business. I look forward
    to be part of a challenging team and develop my programming skills.
  </p>
</div>
