<div class="container">
  <div class="row">
    <div class="col-sm-12 col-lg-4">
      <nav class="">
        <ul class="d-xs-flex d-sm-flex d-md-table">
          <li routerLinkActive="insetActive" class="nav-item float-shadow">
            <a class="nav-link" [routerLink]="['tab1']">Personal Data</a>
          </li>
          <li routerLinkActive="insetActive" class="nav-item float-shadow">
            <a class="nav-link" [routerLink]="['tab2']">Skill Set</a>
          </li>
          <li routerLinkActive="insetActive" class="nav-item float-shadow">
            <a class="nav-link" [routerLink]="['tab3']">More About</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="col-sm-12 col-lg-8">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
