<div class="background container">
  <div class="row">
    <div class="col-sm-12 col-lg-4">
      <nav class="customHover">
        <ul class="d-xs-flex d-sm-flex d-md-table d-lg-table">
          <li routerLinkActive="customActive" class="nav-item">
            <a class="nav-link" [routerLink]="['tab1']">Personal Data</a>
          </li>
          <li routerLinkActive="customActive" class="nav-item">
            <a class="nav-link" [routerLink]="['tab2']">Skill set</a>
          </li>
          <li routerLinkActive="customActive" class="nav-item">
            <a class="nav-link" [routerLink]="['tab3']">More about</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="col-sm-12 col-lg-8">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
