p {
  margin: 0.2rem 0 0 0;
  text-align: center;
}

.background {
  background: var(--background-color);
  background-image: url(/assets/success.svg);
  background-position: center center;
  background-repeat: no-repeat;
  height: 80vh;
}
