p {
  margin: 0.2rem 0 0 0;
  text-align: center;
}

.background {
  background: var(--background-color);
  background-image: url(/assets/success.svg);
  background-position: center center;
  background-repeat: no-repeat;
  height: 80vh;
  & .btn-back {
    border-radius: 10px;
    box-sizing: border-box;
    width: 50%;
    padding: 3%;
    background: #43d1af;
    border-bottom: 2px solid #30c29e;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    &:hover:not([disabled]) {
      background: var(--success-color);
    }
  }
}
