@import "../../styles/slide-in";

.customList {
  display: flex;
  list-style: none outside;
  animation: slide-in 0.3s ease 1 both;
}

.customList li {
  padding-left: 2.5vw;
}

.container-skills {
  &__images {
    width: 55px;
    height: 55px;
  }
}

@media only screen and (max-width: 600px) {
  .skill-set-container {
    padding-bottom: 15vh;
  }
  li p {
    display: none;
  }
  .container-skills {
    &__images {
      height: 40px;
      width: 40px;
    }
  }
}
