@import "../../styles/slide-in";

.customList {
  display: flex;
  list-style: none outside;
  animation: slide-in 0.3s ease 1 both;
}

.customList li {
  padding-left: 2.5vw;
}

li p {
}

.container-skills {
  &__images {
    width: 55px;
    height: 55px;
  }
}

@media only screen and (max-width: 600px) {
  .container-skills {
    &__images {
      height: 22px;
      width: 22px;
    }
  }
}
