<div class="skill-set-container">
  <div class="container">
    <p class="text-justify">
      I'm a self taught English speaker and frontend developer. I've been
      familiarized with English since I was a little kid, always googling
      something about a game, or looking how to fix some problem I ran into with
      the software I were using at the time. Recently I've decided to change
      careers and dive deep into programming, mostly because many of my friends
      are pursuing the same objectives and they encouraged me to learn. I begin
      doing several courses on Udemy, first started with The Web Development
      Bootcamp by Colt Steele and then Angular The Complete Guide by Maximilian
      Schwarzmûller, I am currently finishing many others. mostly I have worked
      in:
    </p>
  </div>
  <div class="container">
    <div class="row">
      <ul class="customList col-6">
        <li *ngFor="let item of technologies; let i = index">
          <img class="container-skills__images" src="{{ item.image }}" />
          <p>{{ item.name }}</p>
        </li>
      </ul>
      <ul class="customList col-6">
        <li *ngFor="let item of technologies2; let i = index">
          <img class="container-skills__images" src="{{ item.image }}" />
          <p>{{ item.name }}</p>
        </li>
      </ul>
    </div>
  </div>
</div>
