@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700&display=swap");

:root {
  --primary-color: #98aeda;
  --secondary-color: #7a8bae;
  --success-color: #2ebc99;
  --border-color: #465b65;
  --background-color: #eaeaea;
  --text-color: #333;
}

body {
  font-family: "Nunito Sans", sans-serif;
  text-size-adjust: auto;
  background: var(--background-color);
}

@media (min-width: 480px) {
  body {
    overflow: hidden;
  }
}
