:root {
  --primary-color: #98aeda;
  --secundary-color: #7a8bae;
  --border-color: #465b65;
  --background-color: #eaeaea;
  --text-color: #333;
}

body {
  background: var(--background-color);
  // background: linear-gradient(to right, #eaeaea, #dbdbdb, #f2f2f2, #ada996);
  background-image: url(assets/Coding.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}

// Keeping routes inline
main {
  position: relative;
}

// Animation for opacity

.fade-out {
  -webkit-animation: fade-out 1s ease-out 2s both;
  animation: fade-out 1s ease-out 2s both;
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

@media screen and (min-width: 1366px) and (max-width: 1919px) {
  body {
    line-height: 0;
  }
}
