@import "../styles/typing";

.container {
  background-image: url(/assets/Coding.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 80vh;

  & h1 {
    color: var(--text-color2);
    font-weight: bold;
    margin: 0.25rem 0;
    font-size: calc(1.4vw + 1.4vh);
  }
  & h2 {
    font-size: calc(1.3vw + 1.3vh);
  }
  img {
    height: 30vh;
    border: 1px solid black;
    border-top: none;
    border-bottom: none;
    border-radius: 30px / 90px;
    background-color: rgba(246, 249, 240, 0.1);
    box-shadow: 0 1px 1px rgba(72, 78, 85, 0.6);
    transition: all 0.2s ease-out;
  }
  img:hover {
    box-shadow: 0 20px 40px rgba(72, 78, 85, 0.6);
    transform: translateY(-15px);
  }
  .overflow-hidden {
    overflow: hidden;
    & h1 {
      animation: drop-in 1200ms ease 500ms backwards;
    }
    & p {
      margin: 0.5rem 0;
      font-size: calc(1vw + 1vh);
      font-weight: bold;
      animation: drop-in 1400ms ease 1000ms backwards;
      backdrop-filter: blur(5px);
    }
  }
}
