<div class="container">
  <h1>Emir Ale</h1>
  <h2 class="animationSetup anim-typewriter">Angular Web Developer</h2>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="overflow-hidden">
        <div class="circle-shape">
          <h1>Welcome to my web resume</h1>
          <img src="https://i.imgur.com/Qa4vIb0.png" class="curve img-fluid" />
          <p>
            Some of the features I've implemented are: Angular Routing including
            rout animations and guard protected routes, a complex loging system
            with autologin, autologout and localstorage token preventing
            authentication lost when reloading the page, which alows you to
            create and fetch data from my firebase backend, a contact form
            linked to my netlify database, several animations to fill the place
            with life.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
